
header img.masthead{
    min-width:100%;
    height:auto;
    max-height:400px;
}
header h1{
    position:absolute;
    top:30%;
    left:20%;
    color:white;
    text-shadow:2px 2px 3px rgba(0,0,0,.5)
}
form{width:100%;text-align:center;padding:20px;background-color:wheat;}
form input{width:200px;padding:10px;display;inline-block;}
form button{padding:12px;border-radius:10px;border:none;transition:all .3s ease;background-color:white;}
form button:hover{background-color:slateblue;box-shadow:2px 2px 5px rgba(0,0,0,.7);color:white;}
footer{background-color: #E38181;}

footer p{text-align:center;
    color:white;
    margin-bottom:0;padding-bottom:10px;}
