
header img.masthead{
    min-width:100%;
    height:auto;
    max-height:400px;
}
header h1{
    position:absolute;
    top:30%;
    left:20%;
    color:white;
    text-shadow:2px 2px 3px rgba(0,0,0,.5)
}
form{padding:20px;background-color:wheat;}
form input{width:200px;padding:10px;}
footer{background-color: #E38181;}
footer p{color:white;margin-bottom:0;padding-bottom:10px;}
